<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Airplane Flights</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
    <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'>

        <label>
        </label>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li sec:authorize="hasRole('ADMIN') || hasRole('FIRM')"><a class='dropdown-arrow'>Options</a>
                <ul class='sub-menus'>
                    <li><a th:href="@{/planes/add-plane}">Add plane</a></li>
                    <li><a th:href="@{/flights/flight-add}">Add flight</a></li>
                    <li><a th:href="@{/planes/plane-list}">My planes</a></li>
                </ul>
            </li>

            <li><a th:href="@{/flights/flight-list}">Actual flights</a></li>
            <li sec:authorize="hasRole('ADMIN')">
                <a class='dropdown-arrow'>Admin Panel</a>
                <ul class='sub-menus'>
                    <li>
                        <a th:href="@{/admin/users-list}">Users</a>
                        <a th:href="@{/admin/change-some-username}">Change some username</a>
                        <a th:href="@{/admin/roles}">Change user role</a>
                    </li>
                </ul>
            </li>
            <li sec:authorize="isAuthenticated()" ><a class='dropdown-arrow'>Profile</a>
                <ul class='sub-menus'>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/users/change-username}">New Username</a>
                    </li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/tickets/ticket-list}">Bought tickets</a></li>
                    <li sec:authorize="isAuthenticated()">
                        <form  th:action="@{users/logout}" th:method="post">
                            <button id="logout" type="submit" >Logout</button>
                        </form>
                    </li>
                </ul>
            </li>
            <ul id="first">
            <li sec:authorize="!isAuthenticated()" ><a th:href="@{/users/login}">Login</a></li>
            <li sec:authorize="!isAuthenticated()" ><a th:href="@{/users/register}">Register</a></li>
            </ul>
        </ul>
    </nav>
</header>
<footer class="footer bg-transparent py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h5 text-primary text-stroke fixed-bottom">
            &copy; Boris project SoftUni.bg. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>