<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <p id="403" name="error" class="container bg-blur rounded mt-5 ">
        <h1>===== Airport App ======================</h1>
        <br>
        <h5>===================================================</h5>
        <br>
        <h2>You don't have permission to access this page"</h2>
        <br>
        <h3> <a th:href="@{/}">Reconnect to homepage.</a></h3>>
        <h5> ===================================================</h5>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>