.w-15 {
    width: 15%;
}

.bg-gray {
    background-color: #e9ecef;
}

.bg-nav {
    background-color: rgba(1, 141, 8, 0);
}


body {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 5rem;
}

textarea {
    resize: none;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
}

.img-thumb {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
}

.mySticky {
    position: sticky;
    left: 0;
}

.container {

}

.text-stroke {
    text-shadow: 0.07em 0 white,
    0 0.07em white,
    -0.07em 0 white,
    0 -0.07em white;
}

#incLogin {
    color: red;
    text-align: center;
    font-size: large
}

.text-danger {
    color: red;
    text-align: center;
    font-size: large
}

.table td {
    padding: 2px;
    vertical-align: middle;
    border: 2px solid red;
    width: 50px;
    background: deepskyblue;
}

.rowOption {
    margin: 0px;
    background-color: steelblue;
    border: 2px solid black;
    font-family: fantasy;
}

#values {
    background-color: steelblue;
    border: 2px solid red;
    margin: 0px;
}

#flightFrom {
    padding: 2px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid red;
}

#entryText {
    padding: 0px;
    background-color: black;
}

.h1 {
    text-align: center;
}

#addMenu {
    padding: 222px 0px 0px 0px;
}

#addFlight {
    padding: 0px 125px 0px 0px;
}

#addPlane {
    padding: 0px 0px 0px 125px;
}

#noPermission {
    background-image: url("static/img/notpermission.png");

}

div #403 {
    background-color: white;
}

.container #404 {
    background-color: white;
}

div #505 {
    background-color: white;
}

div #error {
    background-color: white;
}

 .error {
     color: red;
 }


