<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Change username</span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <th:block sec:authorize="isAuthenticated()">
        <div th:object="${username}" class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label class="h4 mb-2 text-white">Username</label>
            </div >
            <h5 class="label-holder textCol d-flex justify-content-center" th:text="*{username}"></h5>
        </div>
        <form class="mx-auto w-25 bg-dark rounded"
              th:method="post"
              th:action="@{change-username}"
              th:object="${changeMyUsername}">
            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="newUsername" class="h4 mb-2">New Username</label>
                </div>
                <input type="text" class="form-control"
                       id="newUsername"
                       name="newUsername"
                       th:value="*{newUsername}"/>
                <p th:if="${#fields.hasErrors('newUsername')}"
                   class="errors alert alert-danger"
                >Existing username!</p>

            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-warning  mb-3" value="Change username">Change username</button>

            </div>
        </form>
    </th:block>

</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
