<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div class="container bg-blur rounded mt-1 mb-4">
        <div class="col mt-1 mb-2">
            <div class="row-6 mt-1 mb-1">
                <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">Flights</h3>
                <table class="table table-striped">
                    <tr id="options">
                        <th class="flightRow">From</th>
                        <th class="flightRow">To</th>
                        <th class="flightRow">Price $</th>
                        <th class="flightRow">Plane Number</th>
                        <th class="flightRow">Firm Owner</th>
                        <th class="flightRow">Flight Time</th>
                        <th class="flightRow">Options</th>
                    </tr>
                    <form th:each="current : ${flightsList}"
                          th:object="${current}">
                        <tr id="values" class="table table-striped">
                            <td th:text="*{from}" name="flightList"></td>
                            <td th:text="*{to}" name="flightList"></td>
                            <td th:text="*{price}" name="flightList"></td>
                            <td th:text="*{getPlaneNumber()}" name="flightList"></td>
                            <td th:text="*{firmOwner}" name="flightList"></td>
                            <td th:text="*{flightTime}" name="flightList"></td>
                            <td style="width: 15%">
                                <a type="button" class="btn-danger btn" sec:authorize="hasRole('ADMIN')"
                                   onclick="">Remove</a>
                                <a class="ml-3 text-danger" href="/">
                                    <img src="/img/buy.png" height="35px"></a>
                            </td>
                        </tr>
                    </form>
                </table>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
