<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div class="container bg-blur rounded mt-1 mb-4">
        <div class="col mt-1 mb-2">
            <div class="row-6 mt-1 mb-1">
                <div>
                    <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">Flights</h3>
                    <div class="bg-dark rounded m-auto">
                        <table class="table table-striped table-dark">
                            <tr class="table table-striped table-dark">
                                <td name="flightRow">From</td>
                                <td name="flightRow">To</td>
                                <td name="flightRow">Price</td>
                                <td name="flightRow">Plane Number</td>
                                <td name="flightRow">Firm Owner</td>
                                <td name="flightRow">Flight Time</td>

                                </td>
                                <td style="width: 15%">
                                    <a class="btn-danger btn" sec:authorize="hasRole('ADMIN')" href="/">Remove</a>
                                    <a class="ml-3 text-danger" href="/">
                                        <img src="/img/buy.png" height="35px"></a>
                                </td>
                            </tr>
                            <tr>
                                <section>
                                    <td th:text="*{from}" name="flightRow"></td>
                                    <td th:text="*{to}" name="flightRow"></td>
                                    <td th:text="*{price}" name="flightRow"></td>
                                    <td th:text="*{planeNumber}" name="flightRow"></td>
                                    <td th:text="*{firmOwner}" name="flightRow"></td>
                                    <td th:text="*{flightTime}" name="flightRow"></td>
                                </section>
                            </tr>

                        </table>
                        <!--                            <section>-->
                        <!--                             <td th:text="*{from}" name="flightRow"></td>-->
                        <!--                             <td th:text="*{to}" name="flightRow"></td>-->
                        <!--                             <td th:text="*{price}" name="flightRow"></td>-->
                        <!--                             <td th:text="*{planeNumber}" name="flightRow"></td>-->
                        <!--                             <td th:text="*{firmOwner}" name="flightRow"></td>-->
                        <!--                             <td th:text="*{flightTime}" name="flightRow"></td>-->
                        <!--                            </section>-->
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
