<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
  <div id="entryText" class="container bg-blur rounded mt-5 ">
    <div class="form-group">
      <form th:method="post"
               th:action="@{isFirmOrUser}"
               th:object="${isFirmOrUser}">
      <div class="label-holder text-white textCol d-flex justify-content-center">
        <label for="answer" class="h4 mb-2">You are </label>
      </div>
        <select type="answer" class="form-control"
                id="answer"
                name="answer"
                th:value="*{answer}">
          <option>FIRM</option>
          <option>USER</option>
        </select>
        <div class="button-holder d-flex justify-content-center">
          <button type="submit" class="btn btn-warning  mb-3" value="Next Step">Next Step</button>
        </div>
      </form>
  </div>
  </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>