<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div class="container bg-blur rounded mt-1 mb-4">

            <div id="addMenu" class="row-6 mt-1 mb-1">
                <a id="addFlight" class="ml-3 text-danger" th:href="@{/flights/flight-add}">
                    <img src="/img/addFlight.png" height="100px"></a>

                <a id="addPlane" class="ml-3 text-danger" th:href="@{/planes/add-plane}">
                    <img src="/img/addPlane.png" height="100px"></a>
            </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
