<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"

>
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
  <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Register</span></h1>
  <hr class="hr-3 w-25 bg-white"/>

  <form class="mx-auto w-25 bg-dark rounded"
        th:method="post"
        th:action="@{registerFirm}"
        th:object="${firmRegisterDto}">
    <div class="form-group">
      <div class="label-holder textCol d-flex justify-content-center">
        <label for="companyName" class="h4 mb-2 text-white">Company Name </label>
      </div>
      <input type="text" class="form-control"
             id="companyName"
             name="companyName"
             th:field="*{companyName}"/>
      <p th:if="${#fields.hasErrors('companyName')}"
         class="errors alert alert-danger">Company name must be min 1 symbol</p>
    </div>

    <div class="label-holder textCol d-flex justify-content-center">
      <label for="username" class="h4 mb-2 text-white">Username</label>
    </div>

    <input type="text" class="form-control"
           id="username"
           name="username"
           th:field="*{username}"/>
    <p th:if="${#fields.hasErrors('username')}"
       class="errors alert alert-danger">
      Username exist or username is not min three symbols!</p>
    </div>
    <p class="form-group">
    <div class="label-holder text-white textCol d-flex justify-content-center">
      <label for="email" class="h4 mb-2">Email</label>
    </div>
    <input type="text" class="form-control"
           id="email"
           name="email"
           th:field=="*{email}"
    />
    <p th:if="${#fields.hasErrors('email')}"
       class="errors alert alert-danger">Email exist ot not valid!</p>

    <p class="form-group">
    <div class="label-holder text-white textCol d-flex justify-content-center">
      <label for="password" class="h4 mb-2">Password</label>
    </div>
    <input type="password" class="form-control" id="password" name="password"
           th:field="*{password}"/>
    <p th:if="${#fields.hasErrors('password')}"
       class="errors alert alert-danger">Password must be min 6 symbols</p>
    </div>

    <p class="form-group">
    <div class="label-holder text-white textCol d-flex justify-content-center">
      <label for="confirmPassword" class="h4 mb-2">Confirm Password</label>
    </div>
    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
           th:field="*{confirmPassword}"/>
    <p th:if="${#fields.hasErrors('confirmPassword')}"
       class="errors alert alert-danger">The passwords does not match !</p>

    <div class="button-holder d-flex justify-content-center">
      <button type="submit" class="btn btn-warning  mb-3" value="Register">Register</button>
    </div>

  </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
