<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Register</span></h1>
    <hr class="hr-3 w-25 bg-white"/>

    <form class="mx-auto w-25 bg-dark rounded"
          th:method="post"
          th:action="@{register}"
          th:object="${userRegisterDto}">
        <div class="form-group">
            <div class="form-group">
                <div class="label-holder textCol d-flex justify-content-center">
                    <label for="companyName" class="h4 mb-2 text-white">Company Name or Three names</label>
                </div>
                <input type="text" class="form-control"
                       id="companyName"
                       name="companyName"
                       th:value="*{companyName}"/>
                <small th:if="${#fields.hasErrors('companyName')} "
                       class="text-danger">Username must be min 1 symbol</small>
            </div>

            <div class="label-holder textCol d-flex justify-content-center">
                <label for="username" class="h4 mb-2 text-white">Username</label>
            </div>

            <input type="text" class="form-control"
                   id="username"
                   name="username"
                   th:value="*{username}"/>
            <small th:if="${#fields.hasErrors('username')} "
                   class="text-danger">Username must be min 3 symbols</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="email" class="h4 mb-2">Email</label>
            </div>
            <input type="email" class="form-control"
                   id="email"
                   name="email"
                   th:value="*{email}"
            />
            <small th:if="${#fields.hasErrors('email')}"
                   class="text-danger">Invalid email</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="password" class="h4 mb-2">Password</label>
            </div>
            <input type="password" class="form-control" id="password" name="password"
                   th:value="*{password}"/>
            <small th:if="${#fields.hasErrors('password')}"
                   class="text-danger">Password must be min 6 symbols</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="confirmPassword" class="h4 mb-2">Confirm Password</label>
            </div>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                   th:value="*{confirmPassword}"/>
            <small th:if="${#fields.hasErrors('confirmPassword')}"
                   class="text-danger">The passwords do not match </small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Register</button>
        </div>

    </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
