<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
  <div class="container bg-blur rounded mt-1 mb-4">
    <div class="col mt-1 mb-2">
      <div class="row-6 mt-1 mb-1">
        <h3 class="mySticky bg-gray text-dark  mb-0 mt-2">Bought Tickets</h3>
        <table class="table table-striped">
          <tr id="options">
            <th class="rowOption">From</th>
            <th class="rowOption">To</th>
            <th class="rowOption">Flight Time</th>
            <th class="rowOption">Plane Number</th>
            <th class="rowOption">Firm Owner</th>
            <th class="rowOption">Options</th>
          </tr>
          <form th:each="current : ${tickets}"
                th:object="${current}">
            <tr id="values" class="table table-striped">
              <td th:text="*{from}"></td>
              <td th:text="*{to}"></td>
              <td th:text="*{flightTime}"></td>
              <td th:text="*{getPlaneNumber()}"></td>
              <td th:text="*{firmOwner}"></td>
<!--              <td sec:authorize="hasRole('ADMIN') || hasRole('FIRM')" th:text="*{id}"></td>-->
              <td style="width: 15%">
                <a class="ml-3 text-danger" th:href="@{'removeticket/'+*{id}}">
                  <img src="/img/rem.jpg" height="35px"></a>
              </td>
            </tr>
          </form>
        </table>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
