<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
  <div id="entryText" class="container bg-blur rounded mt-5 ">
    <h1>Welcome to Airport App</h1>
    <hr class="my-3 bg-white w-50"/>
      <p class="h4">
        Welcome, <h4> <p th:text="*{companyName}"></p></h4>
      <p class="h4">
        Airport App is the newest online airport app at which
        every user can buy ticket for plane flights.
        <br>If you are company you can to add a new planes in your company repository
        and to add your flights schedule!</p>

  </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>